!.gitignore

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Node.js
dist/
build/
node_modules/
npm-debug.log
yarn-error.log
.env

# Visual Studio
.vscode/

# JetBrains IDEs
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Golang
.gopls/
.go/

# Cache
.cache/
.parcel-cache/
.nuxt/
.output/
.vite/

# Log
*.log
*.log.*
.trash/
Thumbs.db.encrypted
ehthumbs.db

# Other
*~
*.swp
*.swo
*.exe~
.project
.settings/
.classpath
.pnpm-debug.log
.eslintcache
.stylelintcache
